:root {
    /* --marrom: #211800; */
    --marrom: #4e0e70;
    --dourado: #e1ad2a;
    --branco: #ffffff;
    --cinza-claro: #f4f4f4;
    --tempoliturgico: #4e0e70;
    --transicao: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--cinza-claro);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.card-right{
    background-color: var(--tempoliturgico);
    width: 30%;
    max-width: 450px;
    padding: 40px;
    border-radius: 20px 0 0 20px;
    height: 36rem;
    margin-top: 50px;
    text-align: center;
    color: var(--branco);
}
.card-right .logo-paroquia{
    color: var(--branco);
    font-size: 1.8rem;
}
.card-right h2{
    font-size: 1.4rem;
}

.card-doacao {
    height: 36rem;
    background: white;
    width: 90%;
    max-width: 450px;
    padding: 40px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
    border-top: 8px solid var(--tempoliturgico);
}

.logo-paroquia {
    font-family: 'Playfair Display', serif;
    color: var(--tempoliturgico);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#qrcode {
    background: white;
    padding: 15px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 12px;
    margin: 20px 0;
}

#qrcode img {
    margin: 0 auto;
}

.info-pix {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.chave-label {
    font-size: 1rem;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.chave-valor {
    display: block;
    font-size: 1.1rem;
    color: var(--marrom);
    font-weight: 700;
    margin: 5px 0;
    word-break: break-all;
}

.btn-copiar {
    background: var(--tempoliturgico);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    font-size: 1rem;
}

.btn-copiar:hover {
    background: #810dbf;
    transform: translateY(-2px);
}

.footer-obs {
    font-size: 0.8rem;
    color: #888;
    margin-top: 20px;
    line-height: 1.4;
}