 /* SUMÁRIO */

 /* xx */


 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* BIBLIOTECA SWIPER */
 .swiper {
     width: 100%;
     padding: 20px 0 50px;
 }

 .swiper-slide {
     display: flex;
     justify-content: center;
     transition: transform 0.3s;
 }

 .card-missa {
     background: white;
     padding: 30px;
     border-radius: 15px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
     border-top: 5px solid var(--dourado);
     width: 90%;
     max-width: 350px;
     text-align: center;
 }

 .swiper-button-next,
 .swiper-button-prev {
     color: var(--marrom);
 }

 .swiper-pagination-bullet-active {
     background: var(--dourado);
 }

 /* --Biblioteca Swiper */


 :root {
     --marrom: #211800;
     --dourado: #e1ad2a;
     --branco: #ffffff;
     --cinza-claro: #f4f4f4;
     --tempoliturgico: rgb(0, 116, 0);
     --transicao: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
 }

 body {
     font-family: 'Montserrat', sans-serif;
     margin: 0;
     padding: 0;
     color: #333;
     line-height: 1.6;
 }

 /* Cabeçalho */
 header {
     background-color: var(--marrom);
     color: white;
     padding: 1rem 5%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: sticky;
     top: 0;
     z-index: 1000;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
 }

 .logo {
     font-family: 'Playfair Display', serif;
     font-size: 1.5rem;
     color: var(--branco);
 }

 /* Menu Desktop */
 .nav-menu {
     display: flex;
     list-style: none;
 }

 .nav-menu li {
     margin-left: 25px;
 }

 .nav-menu a {
     color: white;
     text-decoration: none;
     font-weight: 500;
     transition: var(--transicao);
 }

 .nav-menu a:hover {
     color: var(--dourado);
     transform: scale(1.10);
 }

 .login {
     background-color: var(--dourado);
     color: white;
     width: 8rem;
     height: 2rem;
     border-radius: 2rem;
     border: none;
     cursor: pointer;
     transition: var(--transicao);
     font-size: 16px;
 }

 .login:hover {
     background-color: var(--cinza-claro);
     color: var(--marrom);
     transition: var(--transicao);
     transform: scale(1.10);
     cursor: pointer;
 }

 /* Botão Hambúrguer */
 /* --- ESTILO DO MENU HAMBÚRGUER ANIMADO --- */
 .hamburger {
     display: none;
     cursor: pointer;
     background: none;
     border: none;
     width: 30px;
     height: 24px;
     position: relative;
     z-index: 1100;
 }

 /* As 3 linhas do ícone */
 .hamburger span {
     display: block;
     position: absolute;
     height: 3px;
     width: 100%;
     background: white;
     border-radius: 9px;
     opacity: 1;
     left: 0;
     transform: rotate(0deg);
     transition: var(--transicao);
 }

 .hamburger span:nth-child(1) {
     top: 0px;
 }

 .hamburger span:nth-child(2) {
     top: 10px;
 }

 .hamburger span:nth-child(3) {
     top: 20px;
 }

 /* Transformação para o "X" quando ativo */
 .hamburger.open span:nth-child(1) {
     top: 10px;
     transform: rotate(135deg);
     background: var(--branco);
 }

 .hamburger.open span:nth-child(2) {
     opacity: 0;
     left: -40px;
 }

 .hamburger.open span:nth-child(3) {
     top: 10px;
     transform: rotate(-135deg);
     background: var(--branco);
 }

 /* nav a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
            font-weight: 400;
        } */

 /* Banner Principal */
 .hero {
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
     background-image: url('../img/imgaerea2.jpeg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     width: 100%;
     height: 60vh;
     margin: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
     text-align: center;
     padding: 0 20px;
     -webkit-box-shadow: inset 0px -40px 24px -16px #FFFFFF; 
    box-shadow: inset 0px -40px 24px -16px #FFFFFF;
 }

 .hero h1 {
     font-family: 'Playfair Display', serif;
     font-size: 3rem;
     margin-bottom: 10px;
 }

 /* Avisos e destaques */
 .aviso-destaque {
     background: #fff3cd;
     border: 1px solid #ffeeba;
     padding: 20px;
     margin: 20px 5%;
     border-radius: 8px;
     text-align: center;
     font-weight: bold;
 }



 /* Sessão de Horários */
 .celebracoes {
     padding: 70px 5%;
     background-color: var(--branco);
     text-align: center;
     -webkit-box-shadow: inset 0px -40px 20px -11px #211800; 
    box-shadow: inset 0px -40px 20px -11px #211800;
 }

 /* .grid-horarios {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            margin-top: 30px;
        }

        .card-horario {
            background: var(--cinza-claro);
            padding: 20px;
            border-radius: 8px;
            border-top: 5px solid var(--marrom);
        } */

 .celebrações h3 {
     color: var(--marrom);
     margin-bottom: 10px;
 }

 /* Botão Dízimo/Pix */
 .pix-section {
     background-color: var(--marrom);
     color: white;
     padding: 150px 5%;
     text-align: center;
     font-size: 1.3rem;
 }

 .pix-section span {
     color: var(--dourado);
 }

 .btn-pix {
     background-color: var(--dourado);
     color: white;
     font-weight: bold;
     padding: 15px 30px;
     border: none;
     border-radius: 30px;
     font-size: 1.1rem;
     cursor: pointer;
     text-decoration: none;
     display: inline-block;
     margin-top: 50px;
     transition: transform 0.2s;
 }

 .btn-pix:hover {
     transform: scale(1.05);
 }

 .endereco {
     width: auto;
     height: auto;
 }

 footer {
     display: flex;
     align-items: flex-end;
     background: #222;
     color: white;
     padding: 20px 4%;
     height: 130px;
     text-align: left;
     font-size: 0.9rem;
 }

 a.dev i {
     color: var(--dourado);
     font-size: 20px;
     font-weight: bolder;
     margin-right: 6px;
 }

 a.dev {
     text-decoration: none;
     color: white;
     font-size: 17px;
 }

 /* Botão WhatsApp */
 .whatsapp-float {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: rgb(17, 147, 17);
     color: white;
     width: 60px;
     height: 60px;
     border-radius: 50px;
     text-align: center;
     font-size: 30px;
     box-shadow: 0px 0px 10px 1px #27272778;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
     z-index: 100;
 }


 /* Responsividade - MOBILE */
 @media (max-width: 768px) {
     .hamburger {
         display: block;
         position: absolute;
         right: 3rem;

     }

     .nav-menu {
         position: fixed;
         top: 4rem;
         right: -100%;
         width: 55%;
         height: 50vh;
         background-color: var(--marrom);
         flex-direction: column;
         align-items: center;
         justify-content: center;
         transition: var(--transicao);
     }

     .nav-menu.active {
         right: 0;
     }

     .nav-menu li {
         margin: 20px 0;
     }

     .nav-menu a {
         font-size: 1.5rem;
     }

     .hero {
         background-image: url('../img/imgaerea2-mob.jpeg');
         background-position: center;
         background-size: contain;
         background-repeat: no-repeat;
         background-attachment: fixed;
         width: 100%;
         height: 70vh;
     }

     .hero h1 {
         font-size: 2.5rem;
         margin-bottom: 15px;
     }.hero p{
        font-size: 1.1rem
     }


     footer {
         font-size: 12px;
     }
 }